# 파이선 기초

- 기본 변수 (단일 데이터 저장)
 - 정수(int), 부동소수(float), 문자열(strings), 불리언(bool)  
- 데이터 묶음 (복수 데이터 저장)
 - 리스트(list), 튜풀(tuple), 사전(dictionary) 
- 프로그램 흐름
 - if, else, for

# 기본 변수
## 숫자
- 한개의 숫자를 담는 변수
- 정수(int), 부동소수(float)
- 변수에 값을 배정(assign)할 때 "="를 사용한다

In [6]:
x = 7
y = 0.5

print(x+y)
print(x-y)
print(x*y)
print(x/y)

7.5
6.5
3.5
14.0

In [10]:
# 몫과 나머지
x, y = 7, 3

print(x//y)
print(x%y)

# 승수 (power)
print(x**y)

2
1
343

## 문자열

In [12]:
x = "오늘 날씨는 "
y = "좋으네요"
print(x + y)

오늘 날씨는 좋으네요

In [13]:
x * 3

'오늘 날씨는 오늘 날씨는 오늘 날씨는 '

In [14]:
# 문자열의 길이 보기 (length)
len(x)

7

In [16]:
# 특정 위치의 문자 보기 (indexing)
x[1]

'늘'

In [17]:
# 일부분만 보기 (slicing)
x[2:6] # 이상 ~ 미만

' 날씨는'

In [18]:
# 뒤에서부터 카운트
x[-1]

' '

### 문자열 조작, split과 join
- 문자열을 공백, "/", "," 등을 기준으로 나누거나 합친다
- 나누어진 항목은 리스트(list)에 저장된다 (리스트는 여러 데이터를 묶은 것)

In [19]:
# 공백 기준으로 나눈 리스트를 얻는다
print(x)
x.split()

오늘 날씨는

['오늘', '날씨는']

In [20]:
# "/"를 기준으로 나눈다
y = '12/31/2030'
z = y.split('/')
z

['12', '31', '2030']

In [23]:
# 리스트 내의 문자열들을 합치기
",".join(z)

'12,31,2030'

In [24]:
# 순서를 바꾸어서 합치기
"-".join((z[2], z[1], z[0]))

'2030-31-12'

In [26]:
# 문자열 교체 (replace)
print(x)
print(x.replace("날씨는", "기온은"))

오늘 날씨는
오늘 기온은

### (연습) 한글이름 바꾸기
- 이름을 입력으로 받아서 "이름", "성"으로 순서를 바꾸어 출력해보시오
- 예: 김화종 ==> 화종김 을 출력
- 힌트: 키보드 입력을 받는 함수는 input()임, name = input()을 실행하면 name에 이름을 받을 수 있음

In [50]:
# (힌트) 키보드 입력 받기
name = input()
print(name)

김화종
김화종

In [ ]:
(풀이)

### 문자열에 포맷( format) 사용하기
- 세가지 방법이 있다.
 - "%" 사용
 - format() 사용
 - f"..." 사용

- %를 사용하는 방법

In [53]:
x = 5
print("변수가 %d 개 들어 있는 문자열 출력하기" %x)

변수가 5 개 들어 있는 문자열 출력하기

- format을 사용하는 방법

In [54]:
# 위치로 지정
x, y = 5, 90
print("변수가 {0} 개 들어 있는 문자열 {1}점 주기".format(x,y))

변수가 5 개 들어 있는 문자열 90점 주기

- f"..."를 사용하는 방법

In [52]:
# 간편하게 "..." 앞에 f를 붙인다
print(f"변수가 {x} 개 들어 있는 문자열 {y}점 주기")

변수가 5 개 들어 있는 문자열 90점 주기

## 불리언
- 참과 거짓을 True, False로 표현
- 대소문자를 구분함

In [37]:
a = True
b = False
a & b

False

In [38]:
a | b

True

- ">", "<", "==" 등 조건문을 사용하여 불리언 값을 얻을 수 있다

In [39]:
x = 3
x < 1

False

In [40]:
x > 1

True

In [41]:
# 어떤 값이 같은지를 보는 조건문에는 "=="를 사용한다
x == 3

True

### 불리언의 연산
- 불리언 변수가 연산에 사용되면 True는 1로, False는 0으로 취급된다

In [42]:
print(a)
print(b)
print(a+b+3)

True
False
4

# 데이터 묶음
 - 단 변수들을 여러개 묶어 처리하는 방법
 - 리스트(list), 튜플(tuple), 사전(dictionary)

## 리스트
 - 파이썬에서 가장 널리 사용되는 데이터 조작용 "통"
 - 리스트를 구성하는 각 항목의 데이터 타입은 서로 달라도 된다

### 리스트 생성
 - 리스트를 만들려면 대괄호 "[ ]" 를 사용하고 각 항목을 ','로 구분한다
 - list() 함수로도 만들 수 있다

### 슬라이싱
- 어떤 범위의 항목을 얻는다

In [52]:
x = [1,2,3,5,100]

# 슬라이싱으로 범위를 선택한다 (뒷쪽 경계는 포함하지 않음)
x[1:3]

[2, 3]

In [53]:
# 뒤에서부터 인덱싱할 때는 '-' 를 사용
x[-2]

5

In [54]:
x[0:4]

[1, 2, 3, 5]

In [56]:
x.index(100)

4

### 항목 추가 : append()

In [57]:
print(x)
x.append('park') # 맨 뒤에 추가된다
x

[1, 2, 3, 5, 100]

[1, 2, 3, 5, 100, 'park']

In [28]:
# 특정 항목의 갯수를 센다 (count)
x.count('park')

0

In [29]:
x.append('park')
x.count('park')

1

### 리스트 정렬, sorted
- 숫자 또는 알파벳순으로 정렬한다

In [30]:
x = ["park", "kim", "lee"]
sorted(x)

['kim', 'lee', 'park']

In [31]:
x = [5,3,6,7,8,2,4,1]
sorted(x)

[1, 2, 3, 4, 5, 6, 7, 8]

In [64]:
# 원본 x는 바뀌지 않고 그대로 있다
x

[5, 3, 6, 7, 8, 2, 4, 1]

In [32]:
# 순서 뒤집기 (원본 데이터가 바뀌어있다!)
x.reverse()
x

[1, 4, 2, 8, 7, 6, 3, 5]

### 리스트 복제
- 리스트 전체를 반복 복제 하려면 "*"를 사용한다

In [66]:
x = [1,2,3,"kim"]
x*3

[1, 2, 3, 'kim', 1, 2, 3, 'kim', 1, 2, 3, 'kim']

In [67]:
x = [1]
x*10

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

## 튜플 (tuple)
- 튜플도 리스트처럼 여러 항목을 담을 수 있는 변수
- 리스트와 달리 튜플의 내용은 '상수'로 취급되어 값을 바꿀 수 없다
- 읽기 전용 리스트인 셈이며, 처리 속도가 빠르다
- 튜플로 슬라이싱이 가능하다
- 튜플을 만들려면 소괄호( )를 사용하여 만들거나 ( )  없이 "," 로 구분하여 나열한다

In [19]:
my_tuple = (1, 2, 3)
your_tuple = 4, 5,"hello"
my_tuple + your_tuple

(1, 2, 3, 4, 5, 'hello')

In [24]:
my_tuple[-2:]

(2, 3)

In [69]:
a, b, c = 3, 4, 5
print(a)
print(b)
print(a+b+c)

3
4
12

In [70]:
(a, b, c) = (3, 4, 5)
print(a+b+c)

12

## 사전 (Dictionaries)
- 키-값 조합 형태의 데이터 묶음
- 간단한 데이터베이스처럼 사용된다
- 항목을 찾을 때 키를 사용한다
- 딕셔너리에서 저장된 순서는 의미가 없다
- 딕셔너리는 중괄호 {  } 로 만들거나 dict()로 만든다

In [71]:
student = {'grade': 3,'age': 21,'name': "kim"  }
student['grade']

3

In [72]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['grade', 'age', 'name'])
dict_values([3, 21, 'kim'])
dict_items([('grade', 3), ('age', 21), ('name', 'kim')])

In [73]:
# 내용 변경
student['age'] = 28
student

{'grade': 3, 'age': 28, 'name': 'kim'}

In [74]:
# 키:값 항목 추가 (없는 키를 사용하면 항목을 새로만든다)
student['address'] = 'Seoul'
student

{'grade': 3, 'age': 28, 'name': 'kim', 'address': 'Seoul'}

In [25]:
d = {}
d["key1"] = 10
d["key2"] = 8
d["key3"] = 12
d["key4"] = 9
d

{'key1': 10, 'key2': 8, 'key3': 12, 'key4': 9}

In [26]:
max(d, key=d.get)
# 데이터프레임에서 최대값 위치 인덱스 찾기 df["performance"].idxmax()

'key3'

In [42]:
min(d, key=d.get)

'key2'

# 프로그램 흐름

## if
- if 문 다음이 True이면 ":" 이후 블록을 실행한다
- 블록은 들여쓰기가 같은 영역으로 구분한다
- else: 문을 사용할 수도 있다.

In [8]:
x = 7
if x > 5:
    print("x 가 5보다 크다")
else:
    print("x 가 5보다 작다")

x 가 5보다 크다

### 조건문에 in 사용

In [9]:
y = [1,2,3,4]
x = 3
x in y

True

In [10]:
if x in y:
    print("x가 y에 포함되어 있다")
else:
    print("x가 y에 포함되어 있지 않다")

x가 y에 포함되어 있다

## for
- 특정 조건이 만족되는 동안 ":" 이후의 블록을 수행
- 수행할 블록은 들여쓰기로 구분한다

In [81]:
y = [1,2,3,4]
for i in y:
    print(i*10)

10
20
30
40

### 리스트 내에서 for 사용하기

In [82]:
# 새로운 리스트 생성하기
y = [1,2,3,4]
[i*100 for i in y]

[100, 200, 300, 400]

In [83]:
# 조건에 맞는 문자열을 찾아서 리스트를 만들기
target = ['cat001', 'cat002', 'dog003', 'dog004']
match = 'cat'
matching = [s for s in target if match in s]
matching

['cat001', 'cat002']

### 특수변수, range
- 일정 범위의 정수값을 포함하는 변수를 만들어준다
- 날짜의 구간을 지정하는 date_range도 있다

In [84]:
# 0~4 사이의 정수를 포함 : range(5)
x = range(5)
for i in x:
    print(i*10)

0
10
20
30
40

In [85]:
# 1~11 사이의 정수를 2씩 띄어서 포함
# 마지막 값은 "이하"가 아니라 "미만"으로 처리한다
x = range(1,11,2)
for i in x: print(i*10)

10
30
50
70
90

In [86]:
# for와 range를 사용하여 리스트 만들기
x = [i*10 for i in range(10)] 
x

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

### (연습) 구구단 출력
- 입력과 출력값을 튜플로 만들고 전체를 아래와 같은 리스트로 만드시오
- [(2,1,2), (2,2,4), (2,3,6),..,(9,9,81)]
- 힌트: 빈 리스트를 만들고 append를 사용해서 (2,1,2), (2,2,4),..를 추가한다

In [ ]:
(풀이)

### (연습) 구구단을 딕셔너리 구조의 데이터베이스로
- 결과를 딕셔너리로 만들고 입력을 주면 출력을 리턴하는 간단한 데이터베이스로 만들어보시오
- result[(7,9)] ==> 결과 63
- 힌트: 빈 딕션너리를 만들고 키 값으로 (2,1), (2,2),..등을 사용한다

In [ ]:
(풀이)

### (참고) 인덱스와 항목 얻기, enumerate
- 리스트 항목의 인덱스 (순서 번호)를 같이 알려준다
- enumerate은 두 개의 값을 리턴한다

In [87]:
x = ["kim", "park", "lee"]
list(enumerate(x))

[(0, 'kim'), (1, 'park'), (2, 'lee')]

In [88]:
for i, name in enumerate(x):
    print(f"{i} 번째 사람 이름은 {name}입니다")

0 번째 사람 이름은 kim입니다
1 번째 사람 이름은 park입니다
2 번째 사람 이름은 lee입니다

# 정답

## (연습) 한글이름 바꾸기

In [ ]:
name = input()
name[1:] + name[:1]

## (연습) 구구단 출력

In [ ]:
result = []
for i in range(2,10):
    for j in range(1,10):
        result.append((i, j, i*j))
result

## (연습) 구구단을 딕셔너리 구조의 데이터베이스로

In [ ]:
result = {}
for i in range(2,10):
    for j in range(1,10):
        result[(i, j)] = i*j
        
result[(7,9)]